# Editor Config File
# Top-most EditorConfig file
root = true

# Rules that apply to all files
[*]
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

# Turn off all settings for dependencies and output files.
[**/{node_modules,out,dist}/**/*]
charset = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset